body {
  height: 100% !important;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

html,
#root {
  height: 100% !important;
}

#root.Mui-selected {
  background-color: "rgba(147, 197, 253, 0.8)"
}